/* Reset dasar */
body {
    font-family: Arial, sans-serif;
    /* background-color: #5c0099; */
    background: url('bg.avif') no-repeat center center/cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    //ff
    background-position: center;
    background-size: cover;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

label {
    color: #333;
    display: block;
    text-align: left;
    margin: 10px 5px 5px;
    font-weight: bold;
}

input {
    width: 95%;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #fdca55;
    color: #333;
    font-weight : bold ;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #fdc500;
}

.links {
    margin-top: 15px;
}

.links a {
    display: block;
    color: #333;
    text-decoration: none;
    margin-top: 5px;
}

.links a:hover {
    text-decoration: underline;
}

/* Media Queries */
@media (min-width: 576px) {
    .container {
        max-width: 300px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 500px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 550px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 600px;
    }
}
